html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
        
p {
    margin-bottom: 2px;  
    margin-top: 2px;
    font-size: 10px;
    font-family: 'Trispace', sans-serif;
    padding-bottom: 5px;
}

h2 {
    margin: 15px 0px 15px 0px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Trispace', sans-serif;
}

h3 {
    margin: 4px 0px 4px 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Trispace', sans-serif;
}

.buttonStyle {
    position: absolute;
    bottom: 35px;
    right: 30px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 2px solid #000;
    padding: 0px 0px 0px 0px !important;
    cursor: pointer;
}

.buttonStyle:hover {
    opacity: 0.8;
}

.buttonStyle-clicked {
    background-color: black;
}

.fa-info-circle {
    font-size:22px;
}

.fa-info-circle.click {
    color: white;
}

#infoDiv {
    position: absolute;
    bottom: 35px;
    right: 65px;
    height: 250px;
    width: 200px;
    background-color: white;
    border: 2px solid #000;
    padding: 10px;
    display: none;
}

#screenText {
    position:absolute;
    z-index: 1001;
    top: 20px;
    right: 35px;
    text-align: right;
    width: 550px;
}

#currentMonth {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Trispace', sans-serif;
    padding-top: 5px;
}

.visText{
    font-weight: 300;
    font-size: 18px;
    font-family: 'Trispace', sans-serif;
}

#outer-container {
    padding: 15px;
    height: 80px;
    width: 425px;
}

.esri-popup__main-container {
    max-height: 600px !important;
}
   
.filterText {
    position: fixed;
    font-weight: 400;
    top: 140px;
    font-size: 13px;
    right: 30px;
    font-family: 'Trispace', sans-serif;
}

#filterDiv {
    position: fixed;
    top: 160px;
    right: 30px;
    visibility: visible;
    z-index: 1000;
}

#stateFilter {
    width: 300px;
    height: 30px;
    position: relative;
    z-index: 1000;
    font-family: 'Trispace', sans-serif;
    border: 2px solid #000;
}

#countyFilter {
    width: 300px;
    height: 30px;
    position: relative;
    z-index: 1000;
    font-family: 'Trispace', sans-serif;
    border: 2px solid #000;
}

.chartOne {
    width: 100%;
    height: 225px !important;
    padding-top: 5px;
}

.charttwo {
    width: 100%;
    height: 225px !important;
    padding-top: 5px;
}

.chartthree {
    width: 100%;
    height: 225px !important;
    padding-top: 5px;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading {
    height: 30px;
    width: 30px;
}

/***********************************/

#ud_tab {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 100%;
}
#ud_tab input[type="radio"] {
    display: none;
}
#ud_tab label {
    display: block;
    float: left;
    width: 33.333%;
    color: #000;
    font-size: 10px;
    padding: 1.5%;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    font-family: 'Trispace', sans-serif;
    background: #FDCAB5;
}

#ud_tab label:hover {
    background: #FC8A6A;
    opacity: 0.9;
}

#ud_tab .ud_content {
    background: #fff;
    width: 100%;
    display: none;
    padding: 5%;
    float: left;
}
#ud_tab .ud_content h3 {
    margin: 0;
    padding: 0 0 5% 0;
    font-family: 'Trispace', sans-serif;
}
#ud_tab .ud_content p {
    margin: 0;
    padding: 0;
    color: #666;
    line-height: 25px;
    word-spacing: 3px;
}

#ud_tab [id^="tab"]:checked + label {
    background: #BC141A;
    color: #fff;
    font-weight: 500;
}
#tab1:checked ~ #ud_tab-content1,
#tab2:checked ~ #ud_tab-content2,
#tab3:checked ~ #ud_tab-content3 {
    display: block;
}

/***********Month Options************/

holder {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 900px;
  z-index: 10001;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Trispace', sans-serif;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
}


ul {
  list-style-type: none;
  color: #000;
  padding: 0;
  padding-bottom: 30px;
}

li.selected {
  background-color: #000;
  color: #fff;
}

li {
  float: left;
  padding: 5px 10px;
  border-right: 1px solid #000;
  cursor: pointer;
}

li:last-child {
  border-right: 0px;
}

li:hover {
  background-color: #000;
  color: #fff;
}

/***************Chloropleth**************/

#chloroDiv {
    position: relative;
    bottom: 140px;
    left: 30px;
    width: 300px;
}

.container {
  margin-left: 0px;    
  width: 300px;
  height: 15px;
  border-left: .5px solid #858585;
  border-right: .5px solid #858585;
  border-bottom: .5px solid #858585;
  border-top: .5px solid #858585;
  white-space: nowrap;
  margin-top: 5px
}

.item {  
  width: 50px;
  opacity: 0.9
}

.flex {
  display: flex;
  flex-wrap: nowrap; 
}

.flex-item {
  flex: 0 0 auto;
  font-family: 'Trispace', sans-serif !important;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: .25px;
  margin-top: 0px;
  margin-bottom: 0px;    
    
}

.head-item {
  width: 50%;
  padding-top: 5px;
}
